
.canvas-container {
    flex-grow: 1;
}

canvas {
    border: 2px black solid;
}

.galBtn {
    align-self: flex-start;
    align-self: flex-start;
}

.editor-container {
    background-color:#DBDBDB;
    padding-left: 30px;
    padding-right: 30px;
    height: 100vh;
}

.editor {
    background-color: white;
    border-bottom: 2px #DBDBDB solid;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

input {
    min-height: 3em;
}

.text-input {
    border-style: none;
    border-top: 2px #DBDBDB solid;
    min-width: 99%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.sticker-box {
    background-color: white;
    min-height: 5em;
    border-radius: 10px;
}

.editor-header {
    align-items: center;
}


.font-size {
    min-width: none;
    border-radius: none;
    
}

.align {
    max-width: 20px;
}

@media screen and (max-width: 740px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .editor-container {
        height: auto;
        flex-grow: 1;
    }

    .sticker-box {
        display: none;
    }
    
    .canvas-container {
        width: 100vw;
    }

}
